<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            margin-top: 50px;
        }

        #a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            #a:hover {
                color: #f1f1f1;
            }

        .closebtn {
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 36px;
            margin-left: 60px;
        }

        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

            .openbtn:hover {
                background-color: #444;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }
    body {
        background-image: url('../../Content/Images/empty-save-texture-room-light.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        /*            background-position:center;
              opacity: 0.6;
*/ margin: 0;
    }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @@media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

            #a {
                font-size: 18px;
            }
        }
</style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="font-weight: bold">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Quiz", "UserTest", "Home")</li>
                </ul>
                @Html.Partial("LoginPartial");
            </div>
        </div>
    </div>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" id="a" onclick="closeNav()">&times;</a>
        @Html.ActionLink("Display Question", "DisplayQuestion", "Admin", new { @id = "a" })
        @Html.ActionLink("Add Question", "Index", "Admin", new { @id = "a" })
        @Html.ActionLink("User Info", "UserDetail", "Admin", new { @id = "a" })
    </div>
    <div class="container body-content" id="main" style="margin-left: 0">
        <button class="openbtn" onclick="openNav()">☰</button>
        @RenderBody()
        <hr />
    </div>
    <div id="foot">
        <footer>
            @RenderPage("Footer.cshtml");
        </footer>
    </div>


    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.getElementById("foot").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("foot").style.marginLeft = "0";

        }

    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>
